<div id="app-header">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a ui-sref="app.landing" class="brand-logo">
                    Kitten
                </a>
                <ul class="right" id="right-navigation">
                    <li>
                        <a ui-sref="app.landing">Buy</a>
                    </li>
                    <li>
                        <a ui-sref="app.sell">Sell</a>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</div>

<div id="page-content" class="ng-cloak" ui-view="">

    
</div>